                                  <!-- This page was created with the help of the freelancer bootstrap js: https://blackrockdigital.github.io/startbootstrap-freelancer/-->

<!DOCTYPE html>
<html lang="en" xmlns:margin-top="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Tab Elements -->
    <title>JSFF</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/static/css/freelancer.css" rel="stylesheet"> <!-- Custom CSS -->
    <link href="/static/css/webapp.css" rel="stylesheet"> <!-- Main Web App CSS -->

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Head Scripts -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body id="page-top" class="index">

    <!-- NavBar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Jersey Shore Fantasy Football</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#auctionBlock">Auction</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#rosters">Rosters</a>
                    </li>
                    <li class="page-scroll">
                        <a onclick='playVictoryMusic()' href="#champ">Champ</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#leagueHistory">League History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Spotify -->
    <!--<iframe src="https://open.spotify.com/embed/user/chaoaj/playlist/6OYL2rfNJj1w6KFlzaMs39" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>-->

    <!-- Auction Block -->
    <section class="auctionBlock" id="auctionBlock">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="ex1">Auction Block</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="playerSubmission" id="playerSubmission">
                    <p class="auctioneer">Bringing out player: <p id="auctioneer"></p></p>
                    <label for="player">Player</label>
                    <input type="text" id="player" placeholder="Enter Player">

                    <label for="cost">Cost</label>
                    <input type="number" id="cost" value=1 placeholder="Enter Cost">

                    <label for="team">Team</label>
                    <select id="team">
                        <option value="Dan">Dan</option>
                        <option value="Steve S">Steve S</option>
                        <option value="Andrew">Andrew</option>
                        <option value="Alex">Alex</option>
                        <option value="Tom E">Tom E</option>
                        <option value="Bob">Bob</option>
                        <option value="Christian">Christian</option>
                        <option value="Tom G">Tom G</option>
                        <option value="Steve P">Steve P</option>
                        <option value="Jim">Jim</option>
                        <option value="Ryan">Ryan</option>
                        <option value="Eric">Eric</option>
                    </select>

                    <label for="position">Position</label>
                    <select id="position">
                        <option value="QB">QB</option>
                        <option value="RB">RB</option>
                        <option value="WR">WR</option>
                        <option value="TE">TE</option>
                        <option value="K">K</option>
                        <option value="DST">DST</option>
                    </select>

                <button class="playerSubmit" id="playerSubmit" onclick="getInfo()">Sold!</button>
                <button class="undo" onclick="undo()">Undo!</button>
                </div>
                <div class="AuctionBoard">
                    <table id="BigBoard">
                        <tr>
                            <th>Team</th>
                            <th>Budget</th>
                            <th>Max</th>
                            <th>Players Rem.</th>
                            <th>QB</th>
                            <th>RB</th>
                            <th>WR</th>
                            <th>TE</th>
                            <th>K</th>
                            <th>DST</th>
                        </tr>
                        <tr>
                            <td>Dan</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Steve S</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Andrew</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Alex</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Tom E</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Bob</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Christian</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Tom G</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Steve P</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Jim</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Ryan</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Eric</td>
                            <td>200</td>
                            <td>187</td>
                            <td>14</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Rosters -->
    <section class="success" id="rosters">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Rosters</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="rosters">
                <div class="row">
                    <h1>Dan</h1>
                    <table class="rosters" id="Dan">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Alex</h1>
                     <table class="rosters" id="Alex">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Christian</h1>
                    <table class="rosters" id="Christian">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Jim</h1>
                    <table class="rosters" id="Jim">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="rosters">
                <div class="row">
                    <h1>Steve S</h1>
                    <table class="rosters" id="Steve S">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Tom E</h1>
                     <table class="rosters" id="Tom E">
                        <tr>
                        <th>Player</th>
                        <th>Cost</th>
                        <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Tom G</h1>
                    <table class="rosters" id="Tom G">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Ryan</h1>
                    <table class="rosters" id="Ryan">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="rosters">
                <div class="row">
                    <h1>Andrew</h1>
                    <table class="rosters" id="Andrew">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Bob</h1>
                     <table class="rosters" id="Bob">
                        <tr>
                        <th>Player</th>
                        <th>Cost</th>
                        <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Steve P</h1>
                    <table class="rosters" id="Steve P">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Eric</h1>
                    <table class="rosters" id="Eric">
                        <tr>
                            <th>Player</th>
                            <th>Cost</th>
                            <th>Position</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="champ" id="champ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>The Champ</h2>
                    <hr class="star-primary">
                </div>
                 <div class="col-md-6 text-center">
                    <h2>The Chump</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="champ">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="/static/img/Crown.png" height="100" width="125">
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="/static/img/JokerHat.png" height="100" width="150">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 text-center">
                        <img style="border:5px groove gold;" src="/static/img/ReigningChamp.jpg" height="300" width="300">
                    </div>
                    <div class="col-md-6 text-center">
                        <img style="border:5px groove gold;" src="/static/img/ReigningChump.png" height="300" width="300">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="leagueHistory" id="leagueHistory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>It's the League's 10th anniversary</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <table class="pastChamps">
                <tr>
                    <th>Year</th>
                    <th>Champ</th>
                    <th>Runner-Up</th>
                </tr>
                <tr>
                    <td>2008</td>
                    <td>america</td>
                    <td>The Bernard Pollards</td>
                </tr>
                <tr>
                    <td>2009</td>
                    <td>Sex Bomb</td>
                    <td>Stump the Schaub</td>
                </tr>
                <tr>
                    <td>2010</td>
                    <td>Maurice Jones Crew</td>
                    <td>Rockets</td>
                </tr>
                <tr>
                    <td>2011</td>
                    <td>Con 2</td>
                    <td>The Brothers Johnson</td>
                </tr>
                <tr>
                    <td>2012</td>
                    <td>Los Pollos Hermanos</td>
                    <td>Jets</td>
                </tr>
                <tr>
                    <td>2013</td>
                    <td>Los Pollos Hermanos</td>
                    <td>Coples Therapy</td>
                </tr>
                <tr>
                    <td>2014</td>
                    <td>The New York Grimes</td>
                    <td>Just End The Season</td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>Muffin Lords</td>
                    <td>J.O.B. Squad</td>
                </tr>
                <tr>
                    <td>2016</td>
                    <td>Bob The Great</td>
                    <td>The New York Grimes</td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>Curse of the Rexbino</td>
                    <td>Ballhogs2</td>
                </tr>
            </table>
            <div class="row">
                <div class="leagueHistory">
                    <h3>Since 2008...</h3>
                    <ul class="leagueHistory">
                        <li>Twitter was created</li>
                        <li>13 of the 14 iPhone models have been released</li>
                        <li>Blockbuster have closed about 8,000 stores</li>
                        <li>Google Chrome was introduced</li>
                    </ul>
                    <h3>But most importantly...</h3>
                    <p class="TomEvancho">Tom Evancho has won </p>
                    <p class="Zero">0 </p>
                    <p class="TomEvancho">JSFFL Championships</p>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img style="border:5px groove gold;" src="/static/img/TomEvancho.png" height="400" width="400">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Body Scripts -->
    <script src="/static/js/jquery.js"></script> <!-- jQuery -->
    <script src="/static/js/bootstrap.min.js"></script> <!-- Bootstrap Core JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>
    <script src="/static/js/freelancer.js"></script> <!-- Custom Theme JavaScript -->
    <script src="/static/js/webapp.js"></script> <!-- Main WebApp functionality -->

    <!-- Audio Files -->
    <audio id="victory" src="/static/audio/VictoryMusic.wav"></audio>
    <audio id="youLikeThat" src="/static/audio/YouLikeThat.mp3"></audio>
    <audio id="bobRoss" src="/static/audio/BobRoss.mp3"></audio>

</body>

</html>